h1{
    text-align: center;
}
span{
    color: rgb(19, 223, 19);
}
.p11{
    color: rgb(211, 29, 120);
}
.p21{
    color: rgb(46, 28, 211);
}
.p31{
    color: rgb(190, 125, 26);
}
.p1-1{
    font-family: sans-serif;
    font-size: 30px;
    color: rgb(243, 243, 16);
}
.p2-1{
    font-family: cursive;
    font-size: 35px;
    color: rgb(27, 219, 130);
}
.p3-1{
    font-family: fantasy;
    font-size: 22px;
    color: rgb(23, 26, 156);
}
h2{
    color: red; 
    margin-left: 15%;
}
h3{
    color: rgb(206, 95, 114);
    margin-left: 8%;
}
.p3h{
    font-size: 30px;
}
.spisok{
    text-align: center;
    font-size: 30px;
    color: green;
}
.pervi{
    list-style-type: none;
}
.pervi ::before{
    content: '\b7';
    padding-right: 30px;
}
.vtoroi{
    list-style-type: none;
}
.vtoroi ::before{
    content: '\a7';
    padding-right: 10px;
}
.tret{
    list-style-type: none;
}
.tret ::before{
    content: '\b0' ;
    padding-right: 20px;
}


